.Container {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../../../public/images/inicio/header/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5rem 2.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
  h1{
    font-weight: 300;
    font-size: 2.5rem;
    strong{
      color: var(--pink100);
    }
  }
  button{
    margin-top: 2.5rem;
    border-radius: 2rem;
    background-color: var(--white20);
    font-size: 1.25rem;
    color: white;
    border: .1rem solid var(--pink100);
    padding: .5rem 5rem;
  }
}
.TopContainer{
  width: calc(100% - 5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 5rem;
}
.LogoContainer{
  span{
    color: var(--pink100);
    font-weight: 900;
    font-size: 3rem;
  }
  &:first-letter{
    color: white;
  }
}
.MenuContainer{
  display: flex;

  ul{
    display: flex;
    list-style: none;
    li{
      a{
        padding: .5rem 2rem;
        color: white;
        font-size: 1rem;
      }
      &:last-child{
        a{
          background-color:var(--white20);
          border: .1rem solid var(--pink100);
          border-radius: 2rem;
        }
      }
    }
  }
}