<div table>
    <table>
        <tr>
            <td>HIGIENIZAÇÃO INTERNA</td>
        </tr>
        <tr>
            <td>HIGIENIZAÇÃO DE BANCOS TECIDO/COURO</td>
        </tr>
        <tr>
            <td>HIGIENIZAÇÃO DE CAPACETES</td>
        </tr>
        <tr>
            <td>IMPERMEABILIZAÇÃO DE TECIDOS</td>
        </tr>
        <tr>
            <td>VITRIFICAÇÃO DE COURO</td>
        </tr>
        <tr>
            <td>VITRIFICAÇÃO DE PLÁSTICOS (EXTERNOS)</td>
        </tr>
        <tr>
            <td>VITRIFICAÇÃO DE FARÓIS</td>
        </tr>
        <tr>
            <td>OXI-SANITIZAÇÃO</td>
        </tr>
        <tr>
            <td>LAVAGEM TÉCNICA</td>
        </tr>
        <tr>
            <td>LAVAGEM DE MOTOR</td>
        </tr>
        <tr>
            <td>DETALHAMENTO DE RODAS E CAIXA DE RODAS</td>
        </tr>
        <tr>
            <td>TRATAMENTOS DOS VIDROS</td>
        </tr>
        <tr>
            <td>TRATAMENTOS DOS FARÓIS</td>
        </tr>
        <tr>
            <td>POLIMENTOS</td>
        </tr>
        <tr>
            <td>APLICAÇÃO DE CERA LIMPADORA</td>
        </tr>
        <tr>
            <td>APLICAÇÃO DE SELANTES E CERAS SINTÉTICAS</td>
        </tr>
        <tr>
            <td>APLICAÇÃO DE VITRIFICADOR DE PROTEÇÃO DE 1 ANO</td>
        </tr>
        <tr>
            <td>APLICAÇÃO DE VITRIFICADOR DE PROTEÇÃO DE 3 ANOS</td>
        </tr>
        <tr>
            <td>APLICAÇÃO DE VITRIFICADOR DE PROTEÇÃO DE 5 ANOS</td>
        </tr>
        <tr>
            <td>APLICAÇÃO DE PELÍCULAS DE VIDRO</td>
        </tr>
    </table>
</div>